<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/vite.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title></title>
		<script type="module" crossorigin src="/static/js/index-CeCLeQi9.js"></script>
		<link rel="stylesheet" crossorigin href="/static/css/index-CULZoVK3.css">
	</head>
	<body>
		<div id="root"></div>
		<script>
			window.map_config = {
				// access_token: "pk.eyJ1IjoicmljaGllaCIsImEiOiJja2NweW96Nm8waGpxMnBtMTB5MXZhbGI0In0.FEHpvq8VjOor6SZY5g4sYA",
				access_token: "pk.eyJ1Ijoia2lyc3R5aGYiLCJhIjoiY20yM2NrcHhkMDRvZTJqcHNobGFnMXFjOSJ9.iE5ftZja5fwm3s9qIcnivA",
			};
		</script>
	</body>
</html>
